node_modules/
whatsapp_service/node_modules/
whatsapp_service/sessions/
.DS_Store
*.zip
*.pem
*.log
whatsapp_service/.wwebjs_cache/
Files/uploads/backups/
upload_chunk_*
*.pdf
*.docx
*.pptx
*.sql

# Ignore dynamically uploaded photos
Files/uploads/*.jpg
Files/uploads/*.png
Files/uploads/*.jpeg
Files/uploads/profile_pics/*.jpg
Files/uploads/profile_pics/*.png
Files/uploads/profile_pics/*.jpeg
