<IfModule mod_security.c>
  SecFilterEngine Off
  SecFilterScanPOST Off
</IfModule>

RewriteEngine On

RewriteRule ^iclock/cdata/?$ /Files/iclock/cdata.php [L,QSA]
RewriteRule ^iclock/getrequest/?$ /Files/iclock/getrequest.php [L,QSA]
RewriteRule ^iclock/devicecmd/?$ /Files/iclock/devicecmd.php [L,QSA]

# Route Member App cleanly
RewriteRule ^member_app/?(.*)$ /Files/member_app/$1 [L,QSA]

# Route ALL other requests to the biometric listener if the file doesn't exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /Files/api/bio_listener.php [L,QSA]
