<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.titangym.localadms</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/anurag.bawaskar/.local/bin/python3</string>
        <string>-u</string>
        <string>/Users/anurag.bawaskar/Downloads/Titan-Gym-master/Files/local_adms.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/anurag.bawaskar/Downloads/Titan-Gym-master/Files</string>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/anurag.bawaskar/Downloads/Titan-Gym-master/biometric_service/adms_out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/anurag.bawaskar/Downloads/Titan-Gym-master/biometric_service/adms_err.log</string>
</dict>
</plist>
