<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.titangym.whatsapp</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/anurag.bawaskar/.nvm/versions/node/v24.16.0/bin/node</string>
        <string>/Users/anurag.bawaskar/Downloads/Titan-Gym-master/whatsapp_service/server.js</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/anurag.bawaskar/Downloads/Titan-Gym-master/whatsapp_service</string>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/anurag.bawaskar/Downloads/Titan-Gym-master/whatsapp_service/out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/anurag.bawaskar/Downloads/Titan-Gym-master/whatsapp_service/err.log</string>
</dict>
</plist>
